.header {
    background-color:white;
    padding: 1rem 0rem;
    margin-bottom: 4rem;

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .user-status__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

   .logo {
    font-family:"Copperplate", fantasy;
    color: rgb(240,124,41);
   }
}

.LogoutBtn {
    text-decoration: none;
}